.claro{
    background-color: rgb(177, 177, 252);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.escuro{
    background-color: rgb(29, 29, 109);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#btn{
    width: 500px;
    height: 150px;
    border-radius: 50px;
    border-width: 4px;
    background-color: rgb(0, 0, 0, 0);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
}

#ball{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    left: 0;
    transition: transform 0.5s ease;

}

.esquerda{
    background-color: yellow;
}

.direita{
    background-color: white;
    transform: translateX(350%);
}